# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar pastas geradas automaticamente
node_modules/
dist/
build/

# Ignorar arquivos de configuração local
.env
config.json

# Ignorar arquivos de log
*.log

# Ignorar pasta do IDE (se usar Visual Studio Code)
.vscode/